# Credenciais de acesso
.streamlit/secrets.toml
.env

# Cache do RUFF
.ruff_cache/

# Diretórios e arquivos temporários
logs/
.venv/
__pycache__/
*.log
*.pyc

# Diretório de teste
tests/
.old/

# Diretórios de documentação de desenvolvimento
.docs

# Banco de dados sqlite
*.db